.App {
  background-color: rgba(255, 249, 255, 255);
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.littleDudeContainer{
  background-color: rgba(255, 249, 255, 255);
  position: relative;
  width: 56.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.littleDude {
  height: 80vh;
  width: 56.8vh;
  align-self: flex-start;
}

.jackNameWrap {
  font-size: 3.6vh;
}

#char1 {
  position: absolute;
  top: 3.05%;
  right: 21.8vh;
}
#char2 {
  position: absolute;
  transform: rotate(14deg);
  top: 3.7%;
  right: 17.3vh;
}
#char3 {
  position: absolute;
  transform: rotate(28deg);
  top: 5.4%;
  right: 13.0vh;
}
#char4 {
  position: absolute;
  transform: rotate(43.8deg);
  top: 8.0%;
  right: 9.4vh;
}
#char5 {
  position: absolute;
  transform: rotate(65.9deg);
  top: 14.2%;
  right: 5.3vh;
}
#char6 {
  position: absolute;
  transform: rotate(85.9deg);
  top: 18.6%;
  right: 4.4vh;
}
#char7 {
  position: absolute;
  transform: rotate(96.0deg);
  top: 22.8%;
  right: 4.65vh;
}
#char8 {
  position: absolute;
  transform: rotate(111.0deg);
  top: 26.6%;
  right: 5.6vh;
}
#char9 {
  position: absolute;
  transform: rotate(126.2deg);
  top: 30.45%;
  right: 7.6vh;
}
#char10 {
  position: absolute;
  transform: rotate(139.2deg);
  top: 33.9%;
  right: 10.3vh;
}
#char11 {
  position: absolute;
  transform: rotate(39.2deg);
  top: 37.6%;
  right: 8.4vh;
}
#char12 {
  position: absolute;
  transform: rotate(62.8deg);
  top: 40.4%;
  right: 6.0vh;
}
#char13 {
  position: absolute;
  transform: rotate(92.2deg);
  top: 46.4%;
  right: 4.9vh;
}
#char14 {
  position: absolute;
  transform: rotate(114.2deg);
  top: 50.2%;
  right: 5.8vh;
}
#char15 {
  position: absolute;
  transform: rotate(100.2deg);
  top: 53.8%;
  right: 6.6vh;
}
#char16 {
  position: absolute;
  transform: rotate(104.2deg);
  top: 57.8%;
  right: 7.25vh;
}
#char17 {
  position: absolute;
  transform: rotate(108.2deg);
  top: 61.2%;
  right: 8.3vh;
}
#char18 {
  position: absolute;
  transform: rotate(130.2deg);
  top: 64.6%;
  right: 10.1vh;
}
#char19 {
  position: absolute;
  transform: rotate(163.2deg);
  top: 66.6%;
  right: 13.4vh;
}

.mainContainer {
  position: absolute;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.pictureWords {
  font-size: 4vh;
}
.tentacleContainer {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  margin-bottom: 8vh; 
  margin-right: 12.6vh; 
  height: 25vh;
  width: 99vw;
}
.tentacleWordsContainer {
  position: absolute;
  transform: rotate(-40.2deg);
  height: 30vh;
  bottom: 3vh;
  width: 35vh;
  left: 22vh;
  cursor: pointer;
}

#tent_char1 {  
  position: absolute;
  top: 2vh;
}
#tent_char2 {  
  position: absolute;
  left: 3.2vh;
  top: 2.7vh;
}
#tent_char3 {  
  position: absolute;
  left: 4.4vh;
  top: 1vh;
}
#tent_char4 {  
  position: absolute;
  left: 6.8vh;
  top: 2.2vh;
}
#tent_char5 {  
  position: absolute;
  left: 9.9vh;
  top: 3.5vh;
}
#tent_char6 {  
  position: absolute;
  left: 12.9vh;
  top: 2vh;
}
.tentacle {
  position: absolute;
  height: 25vh;
  cursor: pointer;
}

.poolContainer {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin-bottom: 8vh; 
  margin-right: 2.6vh; 
  margin-top: 0.6vh; 
  height: 35vh;
  width: 99vw;
}
.poolWordsContainer {
  transform: rotate(20deg);
  position: absolute;
  top: 3.4vh;
  left: 45vh;
  height: 18vh;
  width: 18vh;
}
#pool_char1 {  
  position: absolute;
  left: 3vh;
}
#pool_char2 {  
  position: absolute;
  left: 5.0vh;
}
#pool_char3 {  
  position: absolute;
  top: .8vh;
  left: 7.1vh;
  transform: rotate(49deg);
}
#pool_char4 {  
  position: absolute;
  top: 7.6vh;
  left: 8.4vh;
  transform: rotate(52deg);
}
.pool {
  z-index: 1;
  position: absolute;
  height: 28vh;
  width: 54.8vh;
  cursor: pointer;
}
.keyboardContainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  margin-bottom: 8vh; 
  height: 25vh;
  width: 99vw;
}
.keyboardWordsContainer {
  font-size: 3.6vh;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: rotate(-72.5deg);
  height: 25vh;
  width: 25vh;
  right: 30.9vh;
}
.keyboard{
  position: absolute;
  align-self: flex-start;
  height: 21vh;
  width: 54.8vh;
  z-index: 1;
  cursor: pointer;
}

.shakinghandsSubContainer {
  position: fixed;
  display: flex;
  align-self: flex-end;
  overflow: hidden;
  justify-content: center;
  height: 103vh;
  width: 98.8vh;
}
.shakinghandsWordsContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: rotate(-46.2deg);
  align-self: flex-end;
  top: 66vh;
  left: 49.6vh;
  height: 49vh;
  width: 68.8vh;
}

#hands_char1 {  
  position: absolute;
  transform: rotate(-24deg);
  top: 4.5vh;
  left: 25vh;
}
#hands_char2 {  
  position: absolute;
  transform: rotate(-20deg);
  top: 3.6vh;
  left: 27.2vh;
}
#hands_char3 {  
  transform: rotate(-12deg);
  position: absolute;
  top: 3.2vh;
  left: 28.2vh;
}
#hands_char4 {  
  transform: rotate(-4deg);
  position: absolute;
  top: 2.8vh;
  left: 31.2vh;
}
#hands_char5 {  
  transform: rotate(4deg);
  position: absolute;
  top: 2.7vh;
  left: 33.8vh;
}
#hands_char6 {  
  transform: rotate(12deg);
  position: absolute;
  top: 3.2vh;
  left: 36.2vh;
}
#hands_char7 {  
  transform: rotate(22deg);
  position: absolute;
  top: 4.0vh;
  left: 40.2vh;
}
#hands_char8 {  
  transform: rotate(26deg);
  position: absolute;
  top: 4.8vh;
  left: 41.2vh;
}
.shakinghands {
  position: absolute;
  align-self: flex-end;
  transform: rotate(-46.2deg);
  height: 43vh;
  width: 64.8vh;
  top: 67vh;
  left: 56.6vh;
  cursor: pointer;
}

@media (max-aspect-ratio: 3/2) {
  .App {
    background-color: rgba(255, 249, 255, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 200vh;
    width: 100vw;
  }
  .littleDudeContainer{
    position: relative;
    width: 56.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  #char1 {
    top: 1.50%;
  }
  #char2 {
    top: 1.82%;
  }
  #char3 {
    top: 2.66%;
  }
  #char4 {
    top: 3.99%;
  }
  #char5 {
    top: 7.14%;
    right: 5.36vh;
  }
  #char6 {
    top: 9.15%;
  }
  #char7 {
    top: 11.21%;
  }
  #char8 {
    top: 13.08%;
  }
  #char9 {
    top: 14.99%;
  }
  #char10 {
    top: 16.67%;
  }
  #char11 {
    top: 18.49%;
  }
  #char12 {
    top: 19.87%;
  }
  #char13 {
    top: 22.82%;
  }
  #char14 {
    top: 24.69%;
  }
  #char15 {
    top: 26.46%;
  }
  #char16 {
    top: 28.43%;
  }
  #char17 {
    top: 30.1%;
  }
  #char18 {
    top: 31.77%;
  }
  #char19 {
    top: 32.75%;
  }
  .littleDude {
    height: 80vh;
    width: 56.8vh;
    align-self: flex-start;
  }
  .mainContainer {
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: visible;
    height: 200%;
    width: 100vw;
  }

  .jackNameWrap {
    font-size: 3.6vh;
  }
  .tentacleContainer {
    border: solid 10px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    margin-bottom: 8vh; 
    right: 0vh; 
    top: 144.4vh;
    height: 25vh;
    width: 99vw;
  }
  .tentacleWordsContainer {
    position: absolute;
    transform: rotate(-40.2deg);
    height: 30vh;
    bottom: 3vh;
    width: 35vh;
    left: 22vh;
    cursor: pointer;
  }
  .tentacle {
    z-index: 1;
    position: absolute;
    height: 25vh;
    cursor: pointer;
  }
  .poolContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-right: 0vh; 
    left: 5vh; 
    right: 0vh; 
    top: 94.4vh;
    height: 35vh;
    width: 99vw;
  }
  .poolWordsContainer {
    transform: rotate(20deg);
    position: relative;
    top: 2.60vh;
    left: 26.7vh;
    height: 18vh;
    width: 18vh;
  }
  .pool {
    z-index: 1;
    position: absolute;
    height: 28vh;
    width: 54.8vh;
    cursor: pointer;
  }
  .keyboardContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    top: 240vh;
    margin-bottom: 8vh; 
    left: 10vh;
    height: 25vh;
    width: 99vw;
  }
  .keyboardWordsContainer {
    font-size: 3.6vh;
    display: flex;
    justify-content: center;
    position: relative;
    transform: rotate(-72.5deg);
    height: 25vh;
    width: 25vh;
    right: 16.4vh;
  }
  .keyboard{
    position: absolute;
    align-self: flex-start;
    height: 21vh;
    width: 54.8vh;
    z-index: 1;
    cursor: pointer;
  }
  .shakinghandsSubContainer {
    overflow: visible;
    position: absolute;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    top: 180vh;
    left: 0vw;
    height: 43vh;
    width: 104vw;
  }
  .shakinghandsWordsContainer {
    border: solid 1px;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: rotate(0deg);
    top: 0vh;
    left: 0vw ;
    right: 0vw;
    height: 43vh;
    width: 100vw;
    bottom-margin: 10vh;
  }
  /* #hands_char1 { */  
  /*   position: absolute; */
  /*   transform: rotate(-24deg); */
  /*   top: 4.5vh; */
  /*   left: 25vh; */
  /* } */
  #hands_char1 {  
    position: absolute;
    transform: rotate(-24deg);
    top: 4.3vh;
    left: 47vw;
  }
  #hands_char2 {  
    position: absolute;
    transform: rotate(-20deg);
    top: 3.7vh;
    left: 51.2vw;
  }
  #hands_char3 {  
    transform: rotate(-12deg);
    position: absolute;
    top: 3.2vh;
    left: 28.2vh;
  }
  #hands_char4 {  
    transform: rotate(-4deg);
    position: absolute;
    top: 2.8vh;
    left: 31.2vh;
  }
  #hands_char5 {  
    transform: rotate(4deg);
    position: absolute;
    top: 2.7vh;
    left: 33.8vh;
  }
  #hands_char6 {  
    transform: rotate(12deg);
    position: absolute;
    top: 3.2vh;
    left: 36.2vh;
  }
  #hands_char7 {  
    transform: rotate(22deg);
    position: absolute;
    top: 4.0vh;
    left: 40.2vh;
  }
  #hands_char8 {  
    transform: rotate(26deg);
    position: absolute;
    top: 4.8vh;
    left: 41.2vh;
  }
  .shakinghands {
    position: absolute;
    align-self: flex-end;
    transform: rotate(0deg);
    height: 43vh;
    width: 110%;
    top: 0vh;
    left: 0vh;
    cursor: pointer;
  }
}


