.App {
  background-color: rgba(255, 249, 255, 255);
  display: flex;
  flex: grow;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.mainContainer{
  background-color: rgba(255, 249, 255, 255);
  position: relative;
  width: 56.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.App-logo {
  height: 80vh;
  width: 56.8vh;
  align-self: flex-start;
}

.jackNameWrap {
  font-size: 3.6vh;

}

#char1 {
  position: absolute;
  top: 3.05%;
  right: 21.8vh;
}
#char2 {
  position: absolute;
  transform: rotate(14deg);
  top: 3.7%;
  right: 17.3vh;
}
#char3 {
  position: absolute;
  transform: rotate(28deg);
  top: 5.4%;
  right: 13.0vh;
}
#char4 {
  position: absolute;
  transform: rotate(43.8deg);
  top: 8.0%;
  right: 9.4vh;
}
#char5 {
  position: absolute;
  transform: rotate(65.9deg);
  top: 14.2%;
  right: 5.3vh;
}
#char6 {
  position: absolute;
  transform: rotate(85.9deg);
  top: 18.6%;
  right: 4.4vh;
}
#char7 {
  position: absolute;
  transform: rotate(96.0deg);
  top: 22.8%;
  right: 4.65vh;
}
#char8 {
  position: absolute;
  transform: rotate(111.0deg);
  top: 26.6%;
  right: 5.6vh;
}
#char9 {
  position: absolute;
  transform: rotate(126.2deg);
  top: 30.45%;
  right: 7.6vh;
}
#char10 {
  position: absolute;
  transform: rotate(139.2deg);
  top: 33.9%;
  right: 10.3vh;
}
#char11 {
  position: absolute;
  transform: rotate(39.2deg);
  top: 37.6%;
  right: 8.4vh;
}
#char12 {
  position: absolute;
  transform: rotate(62.8deg);
  top: 40.4%;
  right: 6.0vh;
}
#char13 {
  position: absolute;
  transform: rotate(92.2deg);
  top: 46.4%;
  right: 4.9vh;
}
#char14 {
  position: absolute;
  transform: rotate(114.2deg);
  top: 50.2%;
  right: 5.8vh;
}
#char15 {
  position: absolute;
  transform: rotate(100.2deg);
  top: 53.8%;
  right: 6.6vh;
}
#char16 {
  position: absolute;
  transform: rotate(104.2deg);
  top: 57.8%;
  right: 7.25vh;
}
#char17 {
  position: absolute;
  transform: rotate(108.2deg);
  top: 61.2%;
  right: 8.3vh;
}
#char18 {
  position: absolute;
  transform: rotate(130.2deg);
  top: 64.6%;
  right: 10.1vh;
}
#char19 {
  position: absolute;
  transform: rotate(163.2deg);
  top: 66.6%;
  right: 13.4vh;
}



/* @media (prefers-reduced-motion: no-preference) { */
/*   .App-logo { */
/*     animation: App-logo-spin infinite 20s linear; */
/*   } */
/* } */


/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */


